.dashboard {
  background-color: #294d6d;
  background-image: linear-gradient(to bottom, rgba(34, 38, 115, 0.6), rgba(228, 124, 124, 0.4)); /* Adding shade */
  height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-img {
  width: 15vw;
  height: 15vw;
  min-width: 150px; /* Set minimum width */
  min-height: 150px; /* Set minimum height */
  border-radius: 50%;
  object-fit: cover;
}

.upload-icon {
  position: absolute;
  transform: translate(-100%, 90%); /* Center the icon relative to its parent */
  background-color: rgba(218, 219, 214, 0.7);
  padding: 5px;
  z-index: 1; /* Ensure the icon appears above the image */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.upload-icon:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Lighten the background color on hover */
}

.dashboard-username {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}

.dashboard-role {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 5px;
}

.dashboard-bio {
  text-align: center;
  margin: 20px;
  color: #ffffff;
}

.dashboard-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.dashboard-stats div {
  height: 20vh;
  width: 20vw;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-friends {
  background-color: rgb(67, 243, 237);
  font-size: 1.2rem;
  color: #fff;
}

.dashboard-groups {
  background-color: red;
  font-size: 1.2rem;
  color: #fff;
}

.dashboard-rating {
  background-color: rgb(238, 134, 29);
  font-size: 1.2rem;
  color: #fff;
}
